.container {
  display: flex;
  flex-flow: column;
  border: 1px solid #fff;
  width: 800px;
}

.container div {
  float: right;
  flex-basis: 100px;
  margin: 0;
}

.container div:nth-child(2) {

}

.container div:nth-child(3) {

}
